@charset "UTF-8";

body {
  font-size: 16px;
  line-height: 1;
  color: #424242;
  font-family: "Roboto", "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro",
    "游ゴシック", YuGothic, "Meiryo UI", Meiryo, "ＭＳ ゴシック", Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}


.entire{
  text-align: center;
}

.start{
  color: #fff;
    background-color: #eb6100;
    border-bottom: 5px solid #b84c00;
    /* サイズ変更はここ */
    font-size: 3em;
    margin-top: 3px;
    color: #fff;
    background: #f56500;
    border-bottom: 2px solid #b84c00;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  }

.title{
  font-size: 3.2em;
color: rgb(0, 0, 0);
}



.direction{
  font-size: 2em;
  color: blue;
  font-weight: bold;
}

.computer{
  font-size: 2em;
  font-weight: bold;
  color: red;
}

.timer{
  display: flex;
  align-items: center;
    justify-content: center;
}